//	
//	 Created 6-13-16 by Stuart Casarotto
//	 
//	 This document will hold all respnosive declarations to be used through the website.
//	 
//	 This document will include:
//	 	- Color Variables
//	
//	
//		!!!! Currently not really used. Should use this file to standardize
//
//
//****************//
//*	   SIZES     *//
//****************//
$smallestBreak	: 	320px;
$smallerBreak	:	480px;
$smallBreak		: 	640px;
$midBreak		: 	960px;
$largeBreak		: 	1024px;
$largerBreak	:	1200px;
$largestBreak	:	1600px;

//********************//
//*	   FUNCTIONS     *//
//********************//



//
//
// Notes for later
//	- 680px seems to be a breakpoint on the home page
//



