//******************//
//*	   FOOTER    *//
//******************//

footer.footer {
	position: relative;
	display: block;
	text-align: center;
	font-size: 0;
	background-color: #e4e4e4;
	padding: 60px 0% 30px;
	border-top: 40px solid #f1f1f1;
	
	.copyright {
		font-size: 16px;
		line-height: 1.5;
		position: relative;
		display: inline-block;
		width: 100%;
		text-align: center;
		vertical-align: bottom;
		font-weight: 500;
		
		//Responsive
		@media screen and (max-width: 650px) {
			width: 90%;
			margin: 0px auto;
			display: block;
			text-align: center;
			margin-bottom: 20px;
		}
	}
}

